.title {
    height: 20vh;
}

.movie-carousel {
    background-color: black;
}

.carousel {
    width: 80%;
    margin: 0 auto;
}

.carousel-inner {
    height: 90vh;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}